.custom-navbar {
    background-color: #020202b4; /* Color de fondo */
    padding: 10px; /* Espaciado interno */
    border-bottom: 1px solid #ced4da; /* Borde inferior */
  }
  
  .navbar-brand {
    color: #d9ff00; /* Color del texto del logo */
  }

  .logo-img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 50%;
  }
  
  .navbar-toggler {
    border-color: #d9ff00; /* Color del borde del botón de navegación en dispositivos móviles */
  }
  
  .navbar-toggler-icon {
    background-color: #d9ff00; /* Color del icono del botón de navegación en dispositivos móviles */
  }
  
  .navbar-nav .nav-link {
    color: #343a40; /* Color del texto de los elementos del menú */
  }
  
  .navbar-nav .nav-link:hover {
    color: #d9ff00; /* Color del texto al pasar el ratón sobre los elementos del menú */
  }
  
  .cart-widget {
    display: flex;
    align-items: center;
    margin-left: 10px;
  }
  
  .item-count {
    background-color: #d9ff00; /* Color de fondo del contador de ítems en el carrito */
    color: #000000; /* Color del texto del contador de ítems en el carrito */
    border-radius: 50%;
    padding: 5px;
    margin-left: 5px;
  }
  